* {
    font-size: 30px;
}

 #answer { 
  margin: 0 auto;
  background-color: lightslategrey;
  width: 80%;
  height: 500px;
  max-width: 860px;
  min-width: 350px;
  border: 20px dotted black; */
} */
